*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/caches/
/.idea/libraries/
/.idea/shelf/
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
/.idea/datasources.xml
/.idea/dataSources.ids
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
google-services.json
gen-external-apklibs
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.ipr
*~
*.swp
/gradle/wrapper/gradle-wrapper.jar
