<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pi.restaurant.management">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantManagement"
        tools:targetApi="31">
        <activity
            android:name="pi.restaurant.management.ui.activities.AuthenticationActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pi.restaurant.management.ui.activities.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.DiscountsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.IngredientsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.DishesActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.AllergensActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.OrdersActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.RestaurantDataActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.WorkersActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurant.management.ui.activities.SettingsActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>