<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant"
        tools:targetApi="31">
        <activity
            android:name="pi.restaurantapp.ui.activities.AuthenticationActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pi.restaurantapp.ui.activities.management.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.DiscountsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.IngredientsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.DishesActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.AllergensActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.OrdersActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.RestaurantDataActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.WorkersActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.SettingsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.management.ChatsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.client.ClientMainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.client.ClientRestaurantDataActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.client.ClientOrdersActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.client.ClientSettingsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.client.ClientNewOrderActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="pi.restaurantapp.ui.activities.client.ClientChatsActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>